<%- include('common/header',{page: "chores"}) -%>
<div class="container">
    <h1 id="title">
        <% if (typeof chore === 'undefined') { %>Add
        <% } else { %> Edit
        <% } %>
        Chore</h1>
    <% var choreIsNull = typeof chore !== 'undefined' && chore === null; if (choreIsNull) { %>
        <div class="alert alert-danger" role="alert">
            Error: Chore with given ID could not be found.
        </div>
    <% } %>
    <form method="POST">
        <input type="hidden" name="_id" id="_id"
               <% if(choreIsNull){ %>disabled
        <% }else{ %>
               value="<%= (typeof chore === 'undefined') ? '' : chore._id %>"
                <% } %>
        >
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name"
                   required
                   <% if(choreIsNull){ %>disabled
            <% }else{ %>
                   value="<%= (typeof chore === 'undefined') ? '' : chore.name %>"
                    <% } %>
            >
        </div>
        <div class="mb-3">
            <label for="familyMemberId" class="form-label">Assigned To</label>
            <select class="form-select" id="familyMemberId" name="familyMemberId" required
                    <% if(choreIsNull){ %>disabled
                    <% } %>
            >
                <option value="" <% if(typeof chore === 'undefined'){ %>selected
                        <% } %>
                >Choose...
                </option>
                <% allFamilyMembers.forEach(function(familyMember){ %>
                    <option value="<%= familyMember._id %>"
                            <% if(typeof chore !== 'undefined'&& !choreIsNull && chore._familyMember.equals(familyMember._id)){ %>selected
                            <% } %>
                    ><%= familyMember.name %></option>
                <% }); %>
            </select>
        </div>
        <div class="mb-3">
            <label for="dueDate" class="form-label">Due Date</label>
            <input type="date" class="form-control" id="dueDate" name="dueDate"
                   <% if(choreIsNull){ %>disabled
            <% }else{ %>
                   value="<%= (typeof chore === 'undefined' || !chore.dueDate) ? '' : chore.dueDate.toISOString().split('T')[0] %>"
                    <% } %>
                   required
            >
        </div>
        <div class="mb-3">
            <label for="priority" class="form-label">Priority</label>
            <input type="number" class="form-control" id="priority" name="priority" min="1" max="10"
                   <% if(choreIsNull){ %>disabled
            <% }else{ %>
                   value="<%= (typeof chore === 'undefined') ? '' : chore.priority %>"
                    <% } %>
                   required
            >
        </div>
        <input type="submit" class="btn btn-success" role="button" value="Save"
               <% if(choreIsNull){ %>disabled
                <% } %>
        >
    </form>
</div>
<%- include('common/footer') -%>