<%- include('common/header',{page: "family"}) -%>
<div class="container">
    <h1 id="title">
        <% if (typeof familyMember === 'undefined') { %>Add
        <% } else { %> Edit
        <% } %>
        Family Member</h1>
    <% var familyMemberIsNull = typeof familyMember !== 'undefined' && familyMember === null; if (familyMemberIsNull) { %>
        <div class="alert alert-danger" role="alert">
            Error: Family Member with given ID could not be found.
        </div>
    <% } %>
    <form method="POST">
        <input type="hidden" name="_id" id="_id"
               <% if(familyMemberIsNull){ %>disabled
        <% }else{ %>
               value="<%= (typeof familyMember === 'undefined') ? '' : familyMember._id %>"
                <% } %>
        >
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name"
                   required
                   <% if(familyMemberIsNull){ %>disabled
            <% }else{ %>
                   value="<%= (typeof familyMember === 'undefined') ? '' : familyMember.name %>"
                    <% } %>
            >
        </div>
        <div class="mb-3">
            <label for="role" class="form-label">Role in Family</label>
            <input type="text" class="form-control" id="role" name="role"
                   required
                   <% if(familyMemberIsNull){ %>disabled
            <% }else{ %>
                   value="<%= (typeof familyMember === 'undefined') ? '' : familyMember.role %>"
                    <% } %>
            >
        </div>
        <div class="mb-3">
            <label for="age" class="form-label">Age</label>
            <input type="number" class="form-control" id="age" name="age"
                   required
                   <% if(familyMemberIsNull){ %>disabled
            <% }else{ %>
                   value="<%= (typeof familyMember === 'undefined') ? '' : familyMember.age %>"
                    <% } %>
            >
        </div>
        <input type="submit" class="btn btn-success" role="button" value="Save"
               <% if(familyMemberIsNull){ %>disabled
                <% } %>
        >
    </form>
</div>
<%- include('common/footer') -%>