<%- include('common/header',{page: "chores"}) -%>
<div class="container">
    <h1>Chores <a href="/chores/new"><img src="img/add-logo.png" class="d-inline" height="40"/></a></h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Assigned To</th>
            <th scope="col">Due Date</th>
            <th scope="col">Priority</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <% allChores.forEach(function(chore){ %>
            <tr>
                <td><%= chore.name %></td>
                <% if(allFamilyMembers.find(member => member._id.equals(chore._familyMember)) !== undefined){ %>
                    <td><%= allFamilyMembers.find(member => member._id.equals(chore._familyMember)).name %></td>
                <% }else{
                    throw new Error('One of the chores has an invalid family member id.');
                } %>
                <td><%= chore.dueDate.toLocaleDateString() %></td>
                <td><%= chore.priority %></td>
                <td>
                    <a href="/chores/edit/<%= chore._id %>"><img src="img/edit-logo.png" class="d-inline" height="20"
                                                                 alt="edit"/></a>
                    <a href="#" class="delete-btn" data-id="<%= chore._id %>"><img src="img/delete-logo.png" class="d-inline" height="20" alt="delete"/></a>            </tr>
        <% }); %>
        </tbody>
    </table>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this chore?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a id="confirmDelete" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
<%- include('common/footer') -%>
